# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from nithiya_api_keys import g_key

In [2]:
# print(g_key)

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
# # Create aiport dataframe
# airport_df = pd.read_csv('../Resources/Airport_Output.csv')
# airport_df.dropna(inplace = True) 
# airport_df.head()


vacation_df = pd.read_csv('nithiya_output_data/cities.csv')

vacation_df

,city,lat,long,temp,temp_max,humidity,cloudiness,wind speed
0,Longyearbyen,78.2186,15.6401,40.84,40.84,65,75,13.80
1,Manta,-0.9500,-80.7333,73.18,73.18,88,90,6.91
2,Fairbanks,64.8378,-147.7164,54.34,58.82,88,20,1.01
3,Hong Kong,22.2855,114.1577,87.71,89.33,76,23,1.01
4,Tura,25.5198,90.2201,75.83,75.83,95,82,8.21
...,...,...,...,...,...,...,...,...
583,Egvekinot,66.3167,-179.1667,34.16,34.16,92,97,3.60
584,Tuktoyaktuk,69.4541,-133.0374,35.28,35.28,89,100,5.97
585,Dzilam González,21.2833,-88.9333,74.01,74.01,97,100,7.90
586,Santa Cruz del Sur,20.7147,-77.9956,78.57,78.57,85,64,7.52
587,Baheri,28.7833,79.5000,86.90,86.90,55,87,17.72

In [5]:
vacation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588 entries, 0 to 587
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        588 non-null    object
 1   lat         588 non-null    float64
 2   long        588 non-null    float64
 3   temp        588 non-null    float64
 4   temp_max    588 non-null    float64
 5   humidity    588 non-null    int64
 6   cloudiness  588 non-null    int64
 7   wind speed  588 non-null    float64
dtypes: float64(5), int64(2), object(1)
memory usage: 36.9+ KB

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
# # Store latitude and longitude in locations
# locations = airport_df[["Lat", "Lng"]]

# # Fill NaN values and convert to float
# rating = airport_df["Airport Rating"].astype(float)

locations = vacation_df[["lat", "long"]]
humidity = vacation_df["humidity"]

In [7]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure